<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>204716269086-pi7g7ki5posrsmtlhbs3ada7egkol9i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204716269086-pi7g7ki5posrsmtlhbs3ada7egkol9i2</string>
	<key>API_KEY</key>
	<string>AIzaSyBka4lyDW6I7MHaWLh6Z6SIdt7CXt0nr1E</string>
	<key>GCM_SENDER_ID</key>
	<string>204716269086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ou.pool</string>
	<key>PROJECT_ID</key>
	<string>carpool-88c08</string>
	<key>STORAGE_BUCKET</key>
	<string>carpool-88c08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:204716269086:ios:fac35ff24673d2fe</string>
	<key>DATABASE_URL</key>
	<string>https://carpool-88c08.firebaseio.com</string>
</dict>
</plist>